{% extends 'base.html' %}
{% block title %}Cadastro - SmartFinance{% endblock %}
{% block login_content %}
    <div class="login-container">
        <div class="login-card">
            <h1>Criar Conta</h1>
            <p>Junte-se à plataforma financeira</p>
            {% if form.errors %}
                <div class="auth-message-error">
                    {% for field in form %}
                        {% for error in field.errors %}<p class="mb-1">- {{ error }}</p>{% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}<p class="mb-1">- {{ error }}</p>{% endfor %}
                </div>
            {% endif %}
            <form method="POST" action="{% url 'users:register' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group text-left">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn-primary mt-4">Cadastrar</button>
            </form>
            <div class="auth-footer">
                <span class="auth-footer-text">Já possui uma conta?</span>
                <a href="{% url 'users:login' %}" class="auth-link">Faça o login</a>
            </div>
        </div>
    </div>
{% endblock %}
